body {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    padding: 0;
    background-color: rgb(233, 135, 100);
    overflow-x: hidden;
    font-family: Georgia;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    padding: 0;
    background-color: rgb(233, 135, 100);
    color: black;
}
.landingpage{
    width: 100%;
    max-width: 1440px;
    margin: 10px;
}
.header {
    width: 100%;
    height: 70px;
    background-color: white;
    color: coral;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.header P {
    font-size: 24px;
    font-weight: 700;
    margin: 0 30px;
    transition: color 0.4s;
    cursor: pointer;
    padding: 20px;
}
.header p:hover{
    color: #0e0401;
}
.hero p{
    font-size: 24px;
    font-weight: 500;
    margin: 0 30px;
    user-select: none;
}
.heroup h1{
    font-size: 48px;
    font-weight: 700;
    user-select: none;
}
.about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.aboutimage img{
    object-fit: contain;
    object-position: cover;
    width: 100%;
    max-width: 700px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.aboutimage img:hover {
    transform: scale(1.1);
}
.abouttext {
    max-width: 600px;
}
.abouttext h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.abouttext p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 2;
}
.aboutbutton{
    justify-content: space-between;
}
.herobutton button {
    display: inline-block;
    margin-top: 10px;
    background-color: #ffffff;
    color: black;
    border: thin 2px #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.herobutton button:hover {
    background-color: coral;
}
.projects h1{
    font-size: 36px;
    font-weight: 700;
}
.projects p{
    font-size: 24px;
}
.mobile image{

}
.mobile h1{
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}
.mobile p{
    font-size: 24px;
}
.projectsimages{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.projectsimages img{
    object-fit: contain;
    object-position: cover;
    width: 100%;
    max-width: 600px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.projectsimages img:hover {
    transform: scale(1.1);
}
.projecttext{
    max-width: 800px;
}
.projecttext h2{
    font-size: 32px;
    font-weight: 700;
}
.projecttext p{
    font-size: 18px;
    font-weight: 500;
}
ul{
    line-height: 1.8;
}
.projecttext a button{
    display: inline-block;
    margin-top: 10px;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.projecttext a button:hover {
    background-color: coral;
}
